body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.guding{width:auto;height:auto;margin-left:50px;position:relative;}
.gd{width:auto;height:auto;position:absolute;top:20%;left:20%;margin-top:-10px;margin-left:-25px;}
